.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    align-items: center;  
    background-color: antiquewhite;  
    
}

.box1 {
    background-color: #e1b474;
    width: 90vw;
    height: 100vh;
    transition: all 350ms;
}

.menu-btn {
    font-size: 3rem;
    margin: 10px 10px;
    width: fit-content;
    position: fixed;
}

.menu-btn:hover + .box1{
    background-color: black;
    transform: skewX(-40deg)
   
}

